#barra{
    color: white;
    background-color: darkgrey;
    font-weight: bold;
    font-style: italic;
    font-family: Helvetica;
}
#titulo{
    text-align: center;
    margin-left: 2%;
}

#colision{
    padding: 25%;
}

#reset{
    background-color: darkgrey;
    margin: auto;
    width: 40%;
    border: 3px solid black;
    padding: 2%px;
}

#input{
    text-align: center;
}


#boton{
    background-color: transparent;
    padding: 15px 25px;
    font-size: 14px;
    color: black;
    border: 2px solid black;
    
}
#boton:hover{
    background-color: black;
    font-family: helvetica;
    color: white;
    padding: 18px 27px;
    text-aling: center;
    
}